@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    /* color-scheme: dark; */
  }

.red-gradient {
    background: linear-gradient(180deg, #FF0000 0%, rgba(31, 30, 30, 0.89) 100%);
}

input{
    background: none;
}

.place-holder{
    background: rgba(255, 255, 255, 0.5);

}